@model TravelAgencyApplication.Domain.Model.DepartureLocation

@{
    ViewData["Title"] = "Create Departure Location";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CityId" class="control-label"></label>
        <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityList"></select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepartureTime" class="control-label"></label>
        <input asp-for="DepartureTime" type="time" class="form-control" />
        <span asp-validation-for="DepartureTime" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
