@model TravelAgencyApplication.Domain.Model.Country

@{
    ViewData["Title"] = "Edit Country";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
