@model TravelAgencyApplication.Domain.DTO.AdminPageDTO
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>@ViewData["Title"]</h1>

<!-- Dropdown Menu -->
<select id="admin-section-select" class="form-control" onchange="loadSection(this.value)">
    <option value="Users">Users</option>
    <option value="Cities">Cities</option>
    <option value="Countries">Countries</option>
    <option value="DepartureLocations">Departure Locations</option>
    <option value="Destinations">Destinations</option>
    <option value="Tags">Tags</option>
    <option value="Itineraries">Itineraries</option>
    <option value="TravelPackages">Travel Packages</option>
</select>

<div id="section-content">
    <!-- The content of the selected section will be loaded here -->
</div>

<script>
    function loadSection(section) {
        $.ajax({
            url: '/Admin/LoadSection',
            type: 'GET',
            data: { section: section },
            success: function (result) {
                $('#section-content').html(result);
            }
        });
    }

    $(document).ready(function () {
        loadSection('Users')
    });
</script>
